  <% layout('layouts/boilerplate') -%>

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <h1>Welcome to Yelcamp</h1>
  <body>

  </body>
</html>
